div {
    height: 250px;
    width: 250px;
    background-color: green;
    margin: 2px;
    
}
#box-1 {
    background-color: green;
   position: fixed; 
   z-index: 120000;
   left:calc(50vw - 125px)
}
#box-2{
    background-color: blueviolet;
}
#box-3{
    background-color: burlywood;
}
#box-4{
    background-color: chocolate;
}
#box-5{
    background-color: blue;

}
p{
    z-index: 400000;
    position: relative;
}

div.class1{
    background-color:blue ;
    color: green;
}
.pulse{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: yellow;
    margin: 8px;
    animation: pulse 1s infinite alternate;

}
@keyframes pulse{
    from{
        height: 75px;
        width: 75px;
    }
    to{
        height: 125px;
        width: 125px;

    }
    }
}